{% extends "layout.njk" %}

{% block head %}
<title>Foodfy - Sobre</title>
{% endblock %}

{% block content %}

<main>

    <h2>Sobre o Foodfy</h2>

    <p>Aliquam et cursus mi. Donec molestie suscipit arcu, posuere scelerisque augue vestibulum a. Sed eget lacinia
        nisl, id finibus erat. Suspendisse potenti. Duis molestie vitae ante nec molestie. Proin dui neque, varius
        imperdiet odio a, efficitur tincidunt nibh. Vivamus ex felis, egestas eu tortor in, feugiat bibendum libero.
        Aenean enim urna, finibus ut ullamcorper in, faucibus cursus turpis. In vulputate nulla vel sapien venenatis
        varius. Sed ac diam ac erat maximus gravida. Ut sit amet urna quis turpis imperdiet malesuada. Vivamus posuere,
        elit a vulputate malesuada, nisi risus tempor velit, sed pellentesque lectus neque a felis. Donec in convallis
        nibh, vel ullamcorper turpis. Donec in nisi sollicitudin, pellentesque ante eu, posuere sapien.</p>

    <p>Vestibulum vel rutrum augue. Morbi elit nunc, ornare ac sodales at, pretium id urna. Proin vestibulum fringilla
        sem iaculis faucibus. Donec tincidunt non nisi vitae dignissim. Cras massa leo, dignissim at nunc id, imperdiet
        facilisis ipsum. Vivamus vulputate arcu vel elit auctor, non consectetur tortor lacinia. Nunc iaculis tincidunt
        metus et malesuada. Proin consequat diam non placerat hendrerit. Donec sit amet dapibus ligula.</p>

    <h3>Como tudo começou...</h3>

    <p>Maecenas eu ultricies purus, vitae tempus orci. Curabitur a tempor nibh. Sed semper, lorem ac sollicitudin
        interdum, mauris est tempus lorem, et dictum turpis sem quis nulla. Donec imperdiet nulla id mauris dignissim
        facilisis. Mauris congue risus sed blandit suscipit. Vivamus lacus erat, sagittis sit amet commodo in,
        consectetur vitae eros. Pellentesque dolor urna, rutrum non urna non, vestibulum ultricies eros. Quisque vel
        orci ac mi mollis posuere. Aliquam erat volutpat. Phasellus sem magna, placerat nec est et, dignissim molestie
        ipsum.</p>

    <p>Curabitur eu lorem eget odio maximus suscipit in ac libero. Morbi faucibus dui in nisi pulvinar, ut facilisis
        ipsum hendrerit. Nulla vestibulum volutpat metus quis cursus. Sed erat lectus, imperdiet et ex ut, vulputate
        venenatis turpis. Integer a nunc sem. Integer suscipit dolor quis augue convallis finibus. Nulla a purus
        aliquam, faucibus nisl vel, porta ex. Mauris ut varius felis. Morbi risus justo, aliquam id velit interdum,
        viverra ullamcorper nunc. Praesent vitae dignissim risus. Sed quis maximus libero, sed malesuada felis.</p>

    <h3>Nossas Receitas</h3>

    <p>Phasellus et ex erat. Sed eget commodo lacus. Aenean finibus leo dignissim ligula porttitor sollicitudin pretium
        ac dolor. Curabitur eget aliquet urna. Vestibulum ut pellentesque tortor. Donec quis ex justo. Nulla sem sem,
        pretium ac mi nec, dapibus consectetur diam. Nullam in nisl vel ex lacinia auctor. Proin lobortis porttitor
        augue ut convallis. Ut sed elementum dui. Mauris eleifend eros non augue elementum, non semper felis sodales.
        Curabitur nec eros interdum, cursus ipsum non, feugiat massa. In maximus nisi ac nunc vestibulum tempor.
        Suspendisse sit amet sodales mi.</p>
</main>

{% endblock %}