{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content%}
    <article>

        <div class="recipes">
            {% for recipe in recipes %}
                <div class="recipe" id="{{recipe.id}}">

                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    <h4>{{recipe.title}}</h4>
                    <p>por
                        {{recipe.author}}</p>

                </div>
            {% endfor %}
        </div>

    </article>
    
    <script src="script-recipes.js"></script>

{% endblock %}